---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RLT Music & Filmworks</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body {
        width: 100%;
        min-height: 100%;
        background: #000;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
      }

      .page {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        background: #000;
      }

      .hero-wrapper {
        position: relative;
        width: 100%;
      }

      .hero-image {
        width: 100%;
        display: block;
      }

      .hotspot {
        position: absolute;
        display: block;
        z-index: 20;
        background: transparent;
        text-indent: -9999px;
        overflow: hidden;
      }

      .music-link {
        top: 2%;
        left: 23%;
        width: 8%;
        height: 5%;
      }

      .film-link {
        top: 2%;
        left: 32%;
        width: 7%;
        height: 5%;
      }

      .store-link {
        top: 2%;
        left: 41%;
        width: 8%;
        height: 5%;
      }

      .artists-link {
        top: 2%;
        left: 50%;
        width: 9%;
        height: 5%;
      }

      .ozone-link {
        top: 2%;
        left: 61%;
        width: 8%;
        height: 5%;
      }

      .contact-link {
        top: 2%;
        left: 71%;
        width: 10%;
        height: 5%;
      }

      .youtube-link {
        top: 2%;
        right: 13.5%;
        width: 3%;
        height: 5%;
      }

      .instagram-link {
        top: 2%;
        right: 9.5%;
        width: 3%;
        height: 5%;
      }

      .facebook-link {
        top: 2%;
        right: 5.5%;
        width: 3%;
        height: 5%;
      }

      .x-link {
        top: 2%;
        right: 1.8%;
        width: 3%;
        height: 5%;
      }

      .explore-link {
        top: 41%;
        left: 39%;
        width: 20%;
        height: 7%;
      }

      .updates-link {
        top: 45%;
        right: 8%;
        width: 26%;
        height: 7%;
      }

      .music-card-link {
        top: 65%;
        left: 3%;
        width: 12%;
        height: 5%;
      }

      .film-card-link {
        top: 65%;
        left: 35%;
        width: 12%;
        height: 5%;
      }

      .store-card-link {
        top: 65%;
        left: 67%;
        width: 12%;
        height: 5%;
      }
    </style>
  </head>

  <body>
    <main class="page">
      <section class="hero-wrapper">
        <img
          src="/images/rlthomepage.png"
          alt="RLT Music and Filmworks"
          class="hero-image"
        />

        <a href="/music" class="hotspot music-link">Music</a>
        <a href="/film" class="hotspot film-link">Film</a>
        <a href="/store" class="hotspot store-link">Store</a>
        <a href="/artists" class="hotspot artists-link">Artists</a>
        <a href="/ozone" class="hotspot ozone-link">Ozone</a>
        <a href="/contact" class="hotspot contact-link">Contact</a>

        <a href="https://youtube.com" target="_blank" class="hotspot youtube-link">YouTube</a>
        <a href="https://instagram.com" target="_blank" class="hotspot instagram-link">Instagram</a>
        <a href="https://facebook.com" target="_blank" class="hotspot facebook-link">Facebook</a>
        <a href="https://x.com" target="_blank" class="hotspot x-link">X</a>

        <a href="/music" class="hotspot explore-link">Explore Our World</a>
        <a href="/ozone" class="hotspot updates-link">Stay Connected For Updates</a>

        <a href="/music" class="hotspot music-card-link">Explore Music</a>
        <a href="/film" class="hotspot film-card-link">View Films</a>
        <a href="/store" class="hotspot store-card-link">Shop Now</a>
      </section>
    </main>
  </body>
</html>